{% extends 'base.html' %}
{% block title %}
	Login
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><Br>
                <div>
                    <h2 class="text-center">Login</h2>
                </div>
                <form method="POST" action="{% url 'login_user' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username:</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter your username">
{#                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>#}
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter your password">
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>

        </div>
    </div>
{% endblock %}