{% extends 'base.html' %}
{% block title %}
	Login
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><Br>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Update Profile</h2>
                    </div>
                    <form method="post" action="{% url 'user-update' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ user_form }}
{#                            <p>The username is <b>First Name + Last Name</b></p>#}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Update Profile</button>
                            <a href="{% url 'update-password' %}" class="btn btn-outline-secondary"> Update Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}