{% extends 'base.html' %}
{% load static %}

{% block title %} List of Trainers{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row gy-5">
            {% for product in all_rings_items %}
                <div class="col-md-2">
                    <div class="card">
                        {% if product.img_upload %}
                            <img src="{{ product.img_upload.url }}" class="card-img-top" width="300px" height="300px"
                                 alt="No image">
                        {% else %}
                            <img src="{% static 'images/img.png' %}" class="card-img-top" width="300px" height="300px"
                                 alt="No image">
                        {% endif %}
                        <div class="card-body">

{#                            <div style="overflow-y:auto; height: 100px">#}
{#                                <p>hcvvqhju4cuu3vb1c</p>#}
{#                            </div>#}
                            <a href="{% url 'detail-product' product.id %}" class="shadow-link"><h5 class="card-title">{{ product.title }}</h5></a>
                            <p class="card-text overflow-hidden" style="max-height: 66px">{{ lesson.description1 }}</p>
                            <p class="card-text fs-4"><small class="text-danger"><b>{{ product.price }} Lei</b></small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}