{% extends 'base.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">
                            SignUp
                        </h2>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                           {{ form.as_p }} 
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'login_user' %}" class="btn btn-outline-success">Create Account</a>
                            <a href="{% url 'home-page' %}" class="btn btn-outline-primary"> Cancel</a>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}